@using CheDaiBaoWeChatModel.Models;
@{
    Layout = null;
    ViewBag.Title = "融资租赁";
    List<Borrow> borrowlist = ViewBag.Borrowlist as List<Borrow>;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="target-densitydpi=device-dpi,width=640, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="format-detection" content="telephone=no" />
    <link href="~/Content/newcss/common.css" rel="stylesheet" />
</head>
<body bgcolor="#f5f5f9">
    <section class="page">
        <div class="content">
            <ul class="bill">
                @if (borrowlist.Count > 0)
                {
                    foreach (Borrow item in borrowlist)
                    {
                        if (item.UnPrincipal + item.UnTotalInterest == 0)
                        {
                    <li class="off">
                        <div class="msg">
                            <span class="fz25">@item.Stages/@item.TotalPeriod 期</span>
                            <span class="fz25">@((item.Principal + item.Interest + item.OverInterest).Value.ToString("N2"))元</span>
                        </div>
                        <div class="status">
                            <span>实际支付日 @item.ActualRepaymentDate.Value.ToString("yyyy/MM/dd")</span>
                            <span class="off">已还清</span>
                        </div>
                        @if (item.OverDay > 0)
                        {
                            <div class="status">
                                <span>逾期天数</span>
                                <span style="color: #0000ff">@(item.OverDay)天</span>
                            </div>
                        }
                    </li>
                        }
                        else
                        {
                    <li>
                        <div class="msg">
                            <span class="fz25">@item.Stages/@item.TotalPeriod 期</span>
                            <span class="fz25">@((item.UnPrincipal + item.UnTotalInterest).Value.ToString("N2"))元</span>
                        </div>
                        <div class="status">
                            <span>支付日 @item.RepaymentDate.Value.ToString("yyyy/MM/dd")</span>
                            <span>剩余应还@((item.UnPrincipal + item.UnTotalInterest).Value.ToString("N2"))元</span>
                        </div>
                        @if (item.OverDay > 0)
                        {
                            <div class="status">
                                <span>逾期天数</span>
                                <span style="color: #0000ff">@(item.OverDay)天</span>
                            </div>
                        }
                    </li>
                        }
                    }
                }
            </ul>
            @* <div style="padding: 100px 78px 10px 143px; @(borrowlist.Count == 0 ? "display: block" : "display:none")">
                <img src="../Content/images/nodata.png" alt="" />
            </div>*@
        </div>
    </section>
</body>
